$i = !important;

@namespace html "http://www.w3.org/1999/xhtml";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

@-moz-document url-prefix('about:'), url-prefix('chrome://browser/content') {
	@import '../common/*';
	@import 'common';

	// Addons/preferences sidebar
	@import 'sidebar';
}

// Can't use for loops for media queries ... shrug
@-moz-document url-prefix('about:debugging') {
	@import 'debugging';
}
@-moz-document url-prefix('about:preferences') {
	@import 'preferences';
}
